@use '../abstracts/variables' as *;

.card {
  @include card-base(1rem, 0);

  overflow: hidden;

  &--lg {
    padding: 1.5rem;
  }

  &--md {
    padding: 1rem;
  }

  &--sm {
    padding: 0.75rem;
  }

  &__head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 0.4rem;
    padding: 0.75rem 0.9rem;
    background: var(--bg-light);
    border-bottom: var(--border-full);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 0.9rem;
    padding: 0.9rem;
  }
}
