@use '../abstracts/variables' as *;

code {
  font-family: var(--font-code);
  font-size: 0.875rem;
}

pre {
  overflow-x: auto;
  padding: 1rem;
  background-color: var(--bg-dark);
  border-radius: 0.5rem;
  color: var(--text-light);

  code {
    font-family: var(--font-code);
    font-size: 0.875rem;
  }
}
