@use '../abstracts/variables' as *;

input {
  border: var(--border-full);
  border-radius: 0.5rem;
  padding: 0.58rem 0.72rem;
  background: var(--bg-light);
  color: var(--text-dark);
}

select,
textarea {
  border: var(--border-full);
  border-radius: 8px;
  padding: 0.58rem 0.72rem;
  background: var(--bg-light);
  color: var(--text-dark);
}
